body {
  background-color: #ffffff;
.title-logo-b:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
 0%{-webkit-transform:rotate(0deg)}
    25%{-webkit-transform:rotate(5deg)}
    75%{-webkit-transform:rotate(-5deg)}
    100%{-webkit-transform:rotate(0deg)}
}
